*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: azure;
}
.h1tag{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 2rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  text-decoration: underline;
  justify-content: center;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 3rem;
}
.main h2{
  font-family: cursive;
  text-align: center;
  font-size: 32px;
}
.signup{
  width: 320px;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color:  rgb(111, 111, 234);
}
.signin{
  width: 320px;
  padding: 2rem;
  display: flex;
  border-radius: 10px;
  background-color: rgb(111, 111, 234);
  flex-direction: column;
}
.email_password{
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
}
.email_password input{
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 16px;
  font-weight: bold;

}
.email_password button{
  width: 100px;
  text-align: center;
  margin-left: 5rem;
  border: none;
  font-size: 16px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: beige;
}
.email_password button:hover{
  background-color: rgb(223, 223, 206);
  transform: scale(1.03);
}